/* style.css */
#main-window {
    background-image: url('/Users/andytzx/Desktop/Mini Project /image1.png');
    background-size: 505px 492px; /* ensure the image covers the entire window */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
}

#tic-tac-toe-grid {
    background-color: #192A34;
}
window {
    font-family: 'Jaro', sans-serif; /* Use Jaro font for the entire window */
    background-color: #192A34;
}

#back-button {
    background: #1F3540;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

label {
    font-size: 32px;
    color: white;
} 
#button-x label{ /*button-x override with specific selector */
    font-size: 48px;
    color: #32C3C0;
    background-color: #1F3540;
} 

#button-x {
    background: #1F3540; /* Background color for button-x */
}

#button-o {
    background: #1F3540; /* Background color for button-o */
}

#button-o label{ /* button-o override with specific selector */
    font-size: 48px;
    color: #FFB347;

}

#grid-button{
    background: #1F3540; 
    border: none;
    border-radius: 12px; /* Rounded corners */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

#grid-button:hover {
    background-color: #3a4a5f; /* Slightly lighter shade on hover */
}

#grid-button:active {
    background-color: #1F3540;
} 

.score-box {
    font-size: 24px;
    font-weight: bold;
    /*min-width: 107px;
    min-height: 87px; 
    padding: 10px; /* Add padding to the score buttons */
    border-radius: 10px;
    text-align: center;
}

.score-x {
    background-color: #5eb3b3; /* Teal color for X */
}

.score-ties {
    background-color: #7a7a7a; /* Grey color for TIES */
}

.score-o {
    background-color: #ffb347; /* Yellow color for O */
}
